<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleInfo-dev</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1084704218474-4q2d9rmvugrigvhimcvsj6sqp5du53u7</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>googleRealse</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.673131017055-j9iahve9q788hkdf4mj1silt6s68bn76</string>
			</array>
		</dict>
	</array>
	<key>Localizationnativedevelopmentregion</key>
	<string>Korea</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NanumSquareNeo-aLt.ttf</string>
		<string>NanumSquareNeo-bRg.ttf</string>
		<string>NanumSquareNeo-cBd.ttf</string>
		<string>NanumSquareNeo-dEb.ttf</string>
		<string>NanumSquareNeo-eHv.ttf</string>
	</array>
</dict>
</plist>
